button[type="submit"]{
	position: relative;
	width: 500px;
	margin: 20px;
	padding: 14px 15px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
	background-color:  #4CAF50;
	color: white;
	font-size: 1em;
	display: inline-block;
	margin: auto;
	margin-bottom: 20px;
	top: 150px;
}
body{
	background-color: rgba(135,206,250,0.2);
	width: 400px;
	margin: auto;
	font: 100% Arial, Helvetica, sans-serif;
	height: 400px;
}