/*Makes submit buttons green, make input and select boxes grey.*/
button[type="submit"]{
	width: 100%;
	margin: 20px;
	padding: 14px 15px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
	background-color:  #4CAF50;
	color: white;
	font-size: 1em;

}
button[type="submit"]:hover {
  background-color: #45a049;
  cursor: pointer;
}
input,select{
	width: 100%;
	border: 1px solid #ccc;
	margin: 20px;
	padding: 14px 15px;
	box-sizing: border-box;
	border-radius: 5px;
	display: inline-block;
	background: rgba(211,211,211,.5);
	font-size: 1em;
}