html{
	margin: 0;
	padding: 0;
}
h1{
	font-size: 2.5em;
	margin-bottom: 20px;
}
body{
	background-color: rgba(135,206,250,0.2);
	width: 400px;
	margin: auto;
	font: 100% Arial, Helvetica, sans-serif;
}
.wrapper{ 
	margin: 45% 0;
	padding-left: 50px;
}
input,button[type="submit"],select{
	display: inline-block;
	margin: auto;
	margin-bottom: 20px;
	width: 20em;
}
button[type="submit"]{
	margin-bottom: 10px;
}
img[src="sap.png"]{
	width: 50%;

}